nav {
    background-color: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    background-color: #333333;
    color: #ffffff;
  }  

  .home-btn {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .home-btn:hover {
    background-color: #444;
  }
  